@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bgPrimary: #252b35;
  --bgSecondary: #0b1016;
  --bgTertiary: #333d44;
  --bgGradient: #1d1a45;

  --primary: #3e56dd;
  --secondary: #6652dd;
  --tertiary: #d236be;

  --shadow: #00feff;
  --navHeight: 4.375rem;
}

html,
body {
  background-color: var(--bgPrimary);
  margin: 0;
  overflow-x: hidden;
  color: white;
  scroll-behavior: smooth;
  position: relative;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

::-webkit-scrollbar-track {
  background: #4646462a;
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 5px;
}
