@import "../_components/windowSizes.scss";

.panelContainer {
    @media (min-width: $medium) {
      padding-inline: 1.5em;
    }
    @media (min-width: $large) {
      padding-inline: 3em;
      width: $large;
    }
    width: 100%;
    display: grid;
    gap: 1.4em;
    row-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    overflow-y: hidden;
    padding-inline: 1em;
    padding-top: 7em;
  }